### Vector Models And Text Preprocessing In NLP
#### CountVectorizer
CountVectorizer is a bag of words approch in which we convert the text to numberical data by focusing on words count only, do not consider the word order, so we lose the information

In [2]:
corpus = ["i love nlp","nlp i love name"]
# total words
countVector = {}

result= []
for x in corpus:
    result += x.split(' ')
# tokenization the word of the sentence 
tokens = result

for x in range(0,len(tokens)):
    if(result[x] not in countVector.keys()):
        countVector[result[x]]=1
    else:   
        countVector[result[x]]=countVector[result[x]] + 1

In [3]:
import pandas as pd
pd.DataFrame(countVector,index=range(0,1))

   i  love  nlp  name
0  2     2    2     1

In [4]:
from sklearn.feature_extraction.text import CountVectorizer # Bag of Words Approch/Model
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]
vectorizer = CountVectorizer()
vectorizer.fit(corpus)
vectorizer.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.int64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': None,
 'min_df': 1,
 'ngram_range': (1, 1),
 'preprocessor': None,
 'stop_words': None,
 'strip_accents': None,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'vocabulary': None}

In [5]:
vectorizer.get_feature_names_out()

array(['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third',
       'this'], dtype=object)

In [6]:
data = vectorizer.transform(corpus)
vectorizer.vocabulary_

{'this': 8,
 'is': 3,
 'the': 6,
 'first': 2,
 'document': 1,
 'second': 5,
 'and': 0,
 'third': 7,
 'one': 4}

In [7]:
data.toarray()
pd.DataFrame(data.toarray(),columns=vectorizer.get_feature_names_out())

   and  document  first  is  one  second  the  third  this
0    0         1      1   1    0       0    1      0     1
1    0         2      0   1    0       1    1      0     1
2    1         0      0   1    1       0    1      1     1
3    0         1      1   1    0       0    1      0     1

In [8]:
vector = CountVectorizer(vocabulary=["this","value"])
data= vector.fit_transform(corpus)
data.toarray()


pd.DataFrame(data.toarray(),columns=vector.get_feature_names_out())

   this  value
0     1      0
1     1      0
2     1      0
3     1      0

In [9]:
# character base tokenization 
char = CountVectorizer(analyzer='char')
data = char.fit_transform(corpus)
data.toarray()
pd.DataFrame(data.toarray(),columns=char.get_feature_names_out())

      .  ?  a  c  d  e  f  h  i  m  n  o  r  s  t  u
0  4  1  0  0  1  1  2  1  2  3  1  1  1  1  3  4  1
1  5  1  0  0  3  3  4  0  2  2  2  3  3  0  3  4  2
2  5  1  0  1  0  2  2  0  3  3  0  2  1  1  2  3  0
3  4  0  1  0  1  1  2  1  2  3  1  1  1  1  3  4  1

In [10]:
# character base tokenization 
corpus =["پاکستان میں شدید بارشوں کے باعث سیلاب کا خطرہ بڑھ گیا ہے۔","حکومت نے بجٹ میں عوام کو ریلیف دینے کا اعلان کیا۔"]
char = CountVectorizer()
data = char.fit_transform(corpus)
data.toarray()
pd.DataFrame(data.toarray(),columns=char.get_feature_names_out())

,اعلان,بارشوں,باعث,بجٹ,بڑھ,حکومت,خطرہ,دینے,ریلیف,سیلاب,...,عوام,میں,نے,پاکستان,کا,کو,کیا,کے,گیا,ہے
0,0,1,1,0,1,0,1,0,0,1,...,0,1,0,1,1,0,0,1,1,1
1,1,0,0,1,0,1,0,1,1,0,...,1,1,1,0,1,1,1,0,0,0

In [11]:
import nltk

In [19]:
# nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords.words("english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]