### Vector Models And Text Preprocessing In NLP
#### CountVectorizer
CountVectorizer is a bag of words approch in which we convert the text to numberical data by focusing on words count only, do not consider the word order, so we lose the information

In [43]:
corpus = ["i love nlp","nlp i love name"]
# total words
countVector = {}

result= []
for x in corpus:
    result += x.split(' ')
# tokenization the word of the sentence 
tokens = result

for x in range(0,len(tokens)):
    if(result[x] not in countVector.keys()):
        countVector[result[x]]=1
    else:   
        countVector[result[x]]=countVector[result[x]] + 1

In [44]:
import pandas as pd
pd.DataFrame(countVector,index=range(0,1))

   i  love  nlp  name
0  2     2    2     1

In [45]:
from sklearn.feature_extraction.text import CountVectorizer # Bag of Words Approch/Model
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]
vectorizer = CountVectorizer()
vectorizer.fit(corpus)
vectorizer.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.int64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': None,
 'min_df': 1,
 'ngram_range': (1, 1),
 'preprocessor': None,
 'stop_words': None,
 'strip_accents': None,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'vocabulary': None}

In [46]:
vectorizer.get_feature_names_out()

array(['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third',
       'this'], dtype=object)

In [47]:
data = vectorizer.transform(corpus)
vectorizer.vocabulary_

{'this': 8,
 'is': 3,
 'the': 6,
 'first': 2,
 'document': 1,
 'second': 5,
 'and': 0,
 'third': 7,
 'one': 4}

In [48]:
data.toarray()
pd.DataFrame(data.toarray(),columns=vectorizer.get_feature_names_out())

   and  document  first  is  one  second  the  third  this
0    0         1      1   1    0       0    1      0     1
1    0         2      0   1    0       1    1      0     1
2    1         0      0   1    1       0    1      1     1
3    0         1      1   1    0       0    1      0     1

In [49]:
vector = CountVectorizer(vocabulary=["this","value"])
data= vector.fit_transform(corpus)
data.toarray()


pd.DataFrame(data.toarray(),columns=vector.get_feature_names_out())

   this  value
0     1      0
1     1      0
2     1      0
3     1      0

In [ ]:
# character base tokenization 
char = CountVectorizer(analyzer='char')
data = char.fit_transform(corpus)
data.toarray()
pd.DataFrame(data.toarray(),columns=char.get_feature_names_out())

      .  ?  a  c  d  e  f  h  i  m  n  o  r  s  t  u
0  4  1  0  0  1  1  2  1  2  3  1  1  1  1  3  4  1
1  5  1  0  0  3  3  4  0  2  2  2  3  3  0  3  4  2
2  5  1  0  1  0  2  2  0  3  3  0  2  1  1  2  3  0
3  4  0  1  0  1  1  2  1  2  3  1  1  1  1  3  4  1

In [51]:
# character base tokenization 
corpus =["پاکستان میں شدید بارشوں کے باعث سیلاب کا خطرہ بڑھ گیا ہے۔","حکومت نے بجٹ میں عوام کو ریلیف دینے کا اعلان کیا۔"]
char = CountVectorizer()
data = char.fit_transform(corpus)
data.toarray()
pd.DataFrame(data.toarray(),columns=char.get_feature_names_out())

,اعلان,بارشوں,باعث,بجٹ,بڑھ,حکومت,خطرہ,دینے,ریلیف,سیلاب,...,عوام,میں,نے,پاکستان,کا,کو,کیا,کے,گیا,ہے
0,0,1,1,0,1,0,1,0,0,1,...,0,1,0,1,1,0,0,1,1,1
1,1,0,0,1,0,1,0,1,1,0,...,1,1,1,0,1,1,1,0,0,0

In [52]:
import nltk

In [53]:
# nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords.words("english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

### Stemming And Lemmatization

In [54]:
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize

In [55]:
stemmer = PorterStemmer()

In [56]:
data = ["ali is running fast!","your very slow","runing faster"]

In [57]:
[(sentence,words) for sentence in data for words in sentence.split(' ')]

[('ali is running fast!', 'ali'),
 ('ali is running fast!', 'is'),
 ('ali is running fast!', 'running'),
 ('ali is running fast!', 'fast!'),
 ('your very slow', 'your'),
 ('your very slow', 'very'),
 ('your very slow', 'slow'),
 ('runing faster', 'runing'),
 ('runing faster', 'faster')]

In [58]:
[stemmer.stem(words) for x in data for words in x.split(' ')]

['ali', 'is', 'run', 'fast!', 'your', 'veri', 'slow', 'rune', 'faster']

In [59]:
plurals = [
    'caresses', 'flies', 'dies', 'mules', 'denied',
    'died', 'agreed', 'owned', 'humbled', 'sized',
    'meeting', 'stating', 'siezing', 'itemization',
    'sensational', 'traditional', 'reference', 'colonizer',
    'plotted']

In [60]:
print("Before Stemming: ", " ".join(plurals))
print("After Stemming: "," ".join([stemmer.stem(word) for word in plurals]))

Before Stemming:  caresses flies dies mules denied died agreed owned humbled sized meeting stating siezing itemization sensational traditional reference colonizer plotted
After Stemming:  caress fli die mule deni die agre own humbl size meet state siez item sensat tradit refer colon plot

In [61]:
porter = PorterStemmer()

In [62]:
print(porter.stem("walking"))
print(porter.stem("walked"))
print(porter.stem("walk"))

walk
walk
walk

In [63]:
print(porter.stem("run"))
print(porter.stem("running"))
print(porter.stem("ran"))

run
run
ran

In [64]:
print(porter.stem("bosses"))
print(porter.stem("smokers"))
print(porter.stem("avaiable"))
print(porter.stem("replacement"))

boss
smoker
avaiabl
replac

In [112]:
sentence = "Data science combines statistics, computer science, and domain expertise runnig better"

In [66]:
for x in sentence.split():
    print(porter.stem(x),end=' ')

data scienc combin statistics, comput science, and domain expertis

### Lemmatiizer

In [67]:
from nltk.stem import WordNetLemmatizer

In [68]:
wnl = WordNetLemmatizer()

In [69]:
print(wnl.lemmatize("walking"))
print(wnl.lemmatize("running"))
print(wnl.lemmatize("best"))
print(wnl.lemmatize("mise"))
print(porter.stem("mise"))

walking
running
best
mise
mise

In [111]:
from nltk.corpus import wordnet
print(wnl.lemmatize("walking",pos=wordnet.VERB))
print(wnl.lemmatize("running",pos=wordnet.VERB))
print(wnl.lemmatize("better",pos=wordnet.ADJ))
print(wnl.lemmatize("is",pos=wordnet.VERB))
print(porter.stem("mise"))

walk
run
good
be
mise

In [ ]:
# function we have to
def add_pos_tag(tag):
    if(tag.startswith('J')):
        return wordnet.ADJ
    elif(tag.startswith("N")):
        return wordnet.NOUN
    elif(tag.startswith("V")):
        return wordnet.VERB
    elif(tag.startswith('R')):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [114]:
from nltk.tag import pos_tag
from nltk.tokenize import word_tokenize 
tags = pos_tag(word_tokenize(sentence))
# 
for word,tag in tags:
    print(wnl.lemmatize(word,pos=add_pos_tag(tag)),end=" ")

Data science combine statistic , computer science , and domain expertise runnig well